@{
    ViewData["Title"] = "Home Page";
    var errorCode = TempData["ErrorCode"] as int?;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter your login credentials.</p>

    <form asp-action="Login" method="post">
        <div class="form-group">
            <label for="txt_User">Username:</label>
            <input type="text" pattern="^[A-Za-z0-9_\-]*$" id="txt_User" name="User" class="form-control col-md-4 offset-md-4" />
        </div>

        <div class="form-group">
            <label for="txt_Pass">Password:</label>
            <input type="password" pattern="^[^\s]+$" iWd="txt_Pass" name="Pass" class="form-control col-md-4 offset-md-4" />
        </div>

        @if (errorCode.HasValue)
        {
    <div class="Failed-login" style="color: red; font-size: 14px; margin-bottom: 1rem;">
        @switch (errorCode.Value)
        {
            case 1:
                <span>Username or Password is incorrect, Please Try again.</span>
                break;
            case 2:
                <span>Username Field is empty, Please enter a Username and try again.</span>
                break;
            case 3:
                <span>Password Field is empty, Please enter a Password and try again.</span>
                break;
            case 4:
                <span>Both Fields are empty, Please enter your Username and Password and try again.</span>
                break;
        }
    </div>
        }

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
